body
{
	background-image: url("background.jpg");
	background-size: 100% 100%;
	font-family: "times new roman";
	font-size: 20px;
}

#header
{
	width: 35%;
	height: 10%;
	position: fixed;
	left: 15%;
	top: 7%;
}

#header #title
{
	background-color: rgba(165,165,165,0.6);
	width: 83%;
	height: 100%;
	position: absolute;
	left: 0%;
	top: 0%;
	border-right: 3px solid black;
	border-left: 3px solid black;
	border-top: 3px solid black;
	border-radius: 4px;
}

#header #title img
{
	height: 92%;
	width: 96%;
	position: absolute;
	left: 2%;
	top: 2%;
}

#logo
{
	height: 20%;
	width: 14%;
	position: fixed;
	top: 2.5%;
	left: 1%;
}

#logo img
{
	height: 90%;
	width: 90%;
	position: absolute;
	left:0%;
	top:0%;
}

#navigation
{
	width: 10%;
	height: 30%;
	position: fixed;
	left: 5%;
	top: 22%;
	opacity: 0.9;
}

#navigation ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation ul li a
{	
	background-color:#A5A5A5;
	color: black;
	text-decoration: none;
    display: block;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	padding-top: 4px;
	padding-bottom: 7px;
	padding-left: 5px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

#navigation ul li span a
{
	background-color:#A5A5A5;
	padding-top:8px;
	padding-bottom: 8px;
	padding-left: 24px;
}


#navigation ul li a:hover
{
	background-color: #525252;
}

#main
{
	background-color: rgba(165,165,165,0.6);
	width: 78%;
	height: 76%;
	position: fixed;
	left: 15%;
	top: 17%;
	border: 3px solid black;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

#main #content
{
	background-color: rgba(215,215,215,0.8);
	width: 68%;
	height: 95%;
	position: absolute;
	top: 2%;
	left: 1%;
	border: 3px solid black;
	overflow-y: auto;
}

#main #current img
{
	height: 93%;
	width: 20%;
	position: absolute;
	top: 2%;
	left: .5%;
	border: 3px solid black;
}

#main #current #description
{
	height: 94%;
	width: 78%;
	position: absolute;
	left: 22%;
}

#main #images
{
	height: 95%;
	width: 28%;
	position: absolute;
	right: 1%;
	top: 2%;
	border: 3px solid black;
}

#main #images img
{
	height: 100%;
	width: 100%;
	position: absolute;
}
